<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<p>{f:translate(key: 'message.select_table')}</p>
<f:form name="tableSelection" action="list">
	<f:form.select class="form-control"
								 options="{likedTables}"
								 value="{table}"
								 name="table"
								 additionalAttributes="{onChange : 'document.tableSelection.submit();'}"/>
</f:form>

<h2>{f:translate(key: 'title.like_list')}</h2>
<f:if condition="{likedTableItems}}">
	<f:then>
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th width="5%">{f:translate(key: 'table.uid')}</th>
				<th width="70%">{f:translate(key: 'table.title')}</th>
				<th width="5%">{f:translate(key: 'table.likes')}</th>
				<th width="20%">{f:translate(key: 'table.actions')}</th>
			</tr>
			</thead>
			<tbody>
			<f:for each="{likedTableItems}" key="likedItemUid" as="likedItem">
				<tr>
					<th>{likedItemUid}</th>
					<th>{likedItem.label}</th>
					<th>{likedItem.amount}</th>
					<th>
						<be:link.editRecord class="btn btn-default"
																uid="{likedItemUid}"
																table="{table}">
							<core:icon identifier="actions-open" />
							{f:translate(key: 'button.edit_record')}
						</be:link.editRecord>
					</th>
				</tr>
			</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<p>{f:translate(key: 'message.no_likes')}</p>
	</f:else>
</f:if>
</html>
