.tx-likeit-container {
  padding: 10px 0;
}

.tx-likeit-like svg {
  height: 25px;
  margin-top: -8px;
  margin-right: 5px;
  color: #7a7a7a;;
  cursor: pointer;
}

.tx-likeit-like.liked svg {
  color: #007bff;
}

.tx-likeit-like:hover svg {
  color: #0069d9;
}
